@media(max-width:800px){
    body{
        background-color: white;
        display: grid;
        grid-template-areas: 
        "hero"
        "main"
        "contact";
    }
    
    h1,h2{
        font-family: "Poppins", sans-serif;
        text-transform: capitalize;
        color: var(--footer-color);
    }
    
    p,span{
        font-family: "Open Sans", sans-serif;
        color: var(--hero-color);
    }
    
    a{
        font-family: "Poppins", sans-serif;
        text-transform: capitalize;
        color: var(--background-color);
    }
    
    /* HERO */
    
    .hero{
        grid-area: hero;
        background-color: white;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    
    .hero{
        display: flex;
        flex-direction: column;
    }
    
    .hero .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 60px;
    }
    
    .hero .logo img{
        width: 300px;
        height: 50px;
    }
    
    .hero .logo button{
        width: 220px;
        height: 60px;
        border: 1px solid hsl(322, 100%, 66%);
        border-radius: 50px;
        background: none;
        box-shadow: 0px 0px 5px rgb(189, 188, 188);
    }
    
    .hero .logo button a{
        color: var(--buttons-color);
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
    }
    
    .hero .logo button:hover{
        opacity: 0.6;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    
    .copy{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
    }
    
    .copy-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 55px;
        text-align: center;
    }
    
    .copy-text h1{
        font-size: 3.5rem;
        padding-inline: 75px;
    }
    
    .copy-text p{
        font-size: 2rem;
        color: var(--footer-color);
        text-align: center;
        padding-inline: 80px;
        margin-bottom: 50px;
    }
    
    .copy-text button{
        width: 500px;
        height: 100px;
        border-radius: 100px;
        background-color: var(--buttons-color);
        box-shadow: 0px 5px 10px rgb(189, 188, 188);
    }
    
    .copy-text button:hover{
        opacity: 0.6;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    
    .copy-text button a{
        color: var(--background-color);
        font-size: 1.7rem;
        font-weight: 600;
    }
    
    .screen{
        width: 860px;
        display: flex;
        justify-content: center;
        margin: 200px 0px;
    }

    .screen img{
        width: 700px;
    }
    
    .results ul{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    
    .results ul li .result-i{
        width: 66px;
        height: 60px;
    }
    
    .results ul li .r-text{
        text-align: center;
        text-transform: capitalize;
    }
    
    .results ul li h1{
        font-family: "Open Sans", sans-serif;
        font-size: 10rem;
    }
    
    .results ul li span{
        color: rgb(189, 188, 188);
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 2.5rem;
    }
    
    
    /* MAIN */
    
    main{
        padding: 160px 0px 180px;
        grid-area: main;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        min-height: 100vh;
    }
    
    main .main-content{
        background-color:var(--background-color);
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0px 120px 0px 100px;
        border-radius: 10px;
    }
    
    main .main-content div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        margin: 100px 0px 80px;
    }
    
    main .main-content div h2{
        font-size: 2.6rem;
    }
    
    main .main-content div p{
        font-size: 1.75rem;
        padding-inline: 0px;
    }
    
    main section:nth-child(2) .main-content{
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 120px;
    }
    
    main section img{
        width: 600px;
        height: 500px;
    }
    
    body main section .bg-section-top-mobile-1,
    body main section .bg-section-top-mobile-2 {
      margin-bottom: -1.5rem;
      width: 100%;
      height: 160px;
    }
    body main section .bg-section-bottom-mobile-1,
    body main section .bg-section-bottom-mobile-2 {
        margin-top: -0.1rem;
        width: 100%;
        height: 160px;
    }
    
    .cta-box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    
    .cta-content{
        background-color: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    
    .cta-box h2{
        text-transform: capitalize;
        font-size: 3.6rem;
    }
    
    .cta-box button{
        width: 500px;
        height: 100px;
        border-radius: 100px;
        background-color: var(--buttons-color);
        box-shadow: 0px 5px 10px rgb(189, 188, 188);
        margin-top: 65px;
    }
    
    .cta-box button:hover{
        opacity: 0.6;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    
    .cta-box button a{
        color: var(--background-color);
        font-size: 1.7rem;
        font-weight: 600;
    }
    
    /* BG-FOOTER */
    
    .bg-footer{
        width: 100%;
        height: 160px;
        background-color: white;
        position: absolute;
        top: 0;
    }
    
    /* FOOTER */
    
    footer{
        grid-area: contact;
        background-color: var(--footer-color);
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    
    .footer-content{
        display: flex;
        flex-direction: column;
        padding: 70px 60px 70px;
        gap: 40px;
        z-index: 1;
    }
    
    .footer-content .f-logo{
        width: 450px;
    }

    .footer-content span .icons p{
        color: var(--background-color);
        width: 800px;
        font-size: 2rem;
        padding-inline-end: 30px;
    }
    
    .footer-content .icons p:first-child{
        font-weight: 500;
        margin-bottom: 50px;
    }
    
    .footer-content .icons p:nth-child(2),p:last-child{
        display: flex;
        align-items: center;
    }
    
    .footer-content .icons p:nth-child(2)::before{
        content: '';
        background-image: url(Images/icon-phone.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-right: 45px;
    }
    
    .footer-content .icons p:last-child::before{
        content: '';
        background-image: url(Images/icon-email.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 38px;
        height: 30px;
        display: inline-block;
        margin-right: 45px;
    }
    
    .footer-content span:first-child{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 350px;
    }
    
    .footer-content .icons{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .footer-content div{
        display: flex;
        flex-direction: column;
    }
    
    .footer-content .social{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 45px;
    }
    
    .fa-twitter-square{
        color: var(--background-color);
        font-size: 3.7rem;
        margin-top: 35px;
    
    }
    
    .fa-twitter-square:hover{
        color: cyan;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .fa-facebook-square{
        color: var(--background-color);
        font-size: 3.7rem;
        margin-top: 35px;
    }
    
    .fa-facebook-square:hover{
        color: blue;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .fa-instagram{
        color: var(--background-color);
        font-size: 3.7rem;
        margin-top: 35px;
    }
    
    .fa-instagram:hover{
        color: var(--buttons-color);
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .newsletter{
        padding: 70px 60px 100px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 150px;
    }
    
    .cta h3{
        font-family: "Open Sans", sans-serif;
        font-size: 2.7rem;
        text-transform: uppercase;
        color: var(--background-color);
        margin-bottom: 40px;
        letter-spacing: 0.1rem;
    }
    
    .cta p{
        font-family: "Open Sans", sans-serif;
        color: var(--background-color);
        font-size: 2rem;
        font-weight: 500;
        padding-inline-end: 20px;
        line-height: 3.2rem;
        margin-bottom: 40px;
    }

    .newsletter .input{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
    }
    
    .newsletter .input input:first-child{
        width: 100%;
        height: 130px;
        border-radius: 15px;
        font-family: "Poppins", sans-serif;
        padding-left: 10px;
        font-size: 1.5rem;
        text-align: start;
    }
    
    .newsletter .input input:last-child{
        width: 50%;
        height: 130px;
        background-color: var(--buttons-color);
        border-radius: 15px;
        color: var(--background-color);
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 2.5rem;
    }
    
    .newsletter .input input:last-child:hover{
        background-color: var(--form-active-color);
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
}